{% extends "theme/theme_admin.html.twig" %}

{% block title %}Admin - Nouvel article{% endblock %}

{% block tinymce %}
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: 'textarea#post_content'
    });
</script>
{% endblock %}

{% block adminContent %}
    <h1 class="text-center my-3 display-5">Nouvel article</h1>

    <div class="container mt-5">
        {{ form_start(form) }}
            <div class="mb-3">
                <label for="category_name">Titre</label>
                <div class="text-danger">{{ form_errors(form.title) }}</div>
                {{ form_widget(form.title, {'attr': {'class': 'form-control', 'autofocus': true }}) }}
            </div>
            <div class="mb-3">
                <label for="category_name">Catégorie</label>
                <div class="text-danger">{{ form_errors(form.category) }}</div>
                {{ form_widget(form.category, {'attr': {'class': 'form-control' }}) }}
            </div>
            <div class="mb-3">
                <label for="category_name">Image</label>
                <div class="text-danger">{{ form_errors(form.imageFile) }}</div>
                {{ form_widget(form.imageFile, {'attr': {'class': 'form-control' }}) }}
            </div>
            <div class="mb-3">
                <label for="category_name">Contenu</label>
                <div class="text-danger">{{ form_errors(form.content) }}</div>
                {{ form_widget(form.content, {'attr': {'class': 'form-control', 'rows': 10 }}) }}
            </div>
            <div class="mb-3">
                <input type="submit" class="btn btn-primary" value="Créer" formnovalidate/>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}